---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import WaterSlice from "@/components/WaterSlice.astro";


const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "Very fine-grained data visualization engine.",
		href: "https://github.com/vercel/satori",
		title: "D3",
	},
	{
		desc: "LLM prompt management, metrics, traces, and a nice API.",
		href: "https://www.langchain.com/",
		title: "LangChain and LangSmith",
	},
	{
		desc: "Powerful slippy maps and spatial data representation.",
		href: "https://docs.mapbox.com/mapbox-gl-js/api/",
		title: "Mapbox GL JS",
	},
	{
		desc: "Heirloom quality tools.",
		href: "https://www.lie-nielsen.com/",
		title: "Lie-Nielsen Toolworks",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Abstract</h1>

		<p class="mb-4">
			Hi, I'm Toby. I like to make things. I try to make useful and beautiful things! I'm a co-founder of
			<a target="_blank" href="http://www.devdatalab.org/">Development
				Data Lab</a>. In my job, I and my team use advanced tech (like AI) to understand and help solve major social problems in developing countries. I also build furniture, restore old sailboats, and I really like maps. 
		</p>
		<p class="mb-4">
			This site is just a landing page and a means for sharing hobbies and side projects. 
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Tools I have been liking recently</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
